.Rproj.user
.DS_store
.Rhistory
tests/testthat/_snaps
tests/testthat/test_plot_images
tests/testthat/test_output_data
tests/testthat/reference_images_original
tests/testthat/reference_output_data_original
